{% extends "baseFiles/base.html" %}
{% load static %}


{% block bodycontent %}

    <!-- page-banner-area-start -->
    <div class="page-banner-area page-banner-height-2" data-background="{% static 'assets/img/banner/page-banner-4.jpg' %}">
        <div class="container">
            {% include 'baseFiles/messages.html' %}
            <div class="row">
                <div class="col-xl-12">
                    <div class="page-banner-content text-center">
                        <h4 class="breadcrumb-title">Checkout</h4>
                        <div class="breadcrumb-two">
                            <nav>
                               <nav class="breadcrumb-trail breadcrumbs">
                                  <ul class="breadcrumb-menu">
                                     <li class="breadcrumb-trail">
                                        <a href="index.html"><span>Home</span></a>
                                     </li>
                                     <li class="trail-item">
                                        <span>Checkout</span>
                                     </li>
                                  </ul>
                               </nav> 
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page-banner-area-end -->



    <!-- checkout-area-start -->
    <section class="checkout-area pb-85 mt-50">
        <div class='container border-top border-2 border-info mb-10'>

        </div>
        <div class="container ">

            
            
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkbox-form">

                            <h3>Billing Details</h3>

                            <div class="row">
                            
                                <!--SELECTED sHIPPING ADDRESS-->
                                <div class="seleted-shipping-address mt-5 ">
        
                                    {% if selected_shipping_address %}
                                        <p class="h6" >Shipping Address:</p>
                                        <p class="h5">
                                            {{selected_shipping_address}}
                                            <!-- Add Shiping Address trigger button -->
                                            <button
                                            type="button"
                                            class="btn btn-primary btn-sm"
                                            data-bs-toggle="modal"
                                            data-bs-target="#showAllShippingAddress"
                                        >
                                            Edit <i class='fas fa-edit'></i>
                                        </button>
                                        </p>

                                    {% else %}

                                    <div class="btn bnt-danger">
                                        <!--New Address Button trigger modal -->
                                        <button
                                        type="button"
                                        class="btn btn-primary btn-lg"
                                        data-bs-toggle="modal"
                                        data-bs-target="#modalId"
                                    >
                                        Add New Address
                                    </button>
                                    </div>


                                    {% endif %}
                                        
                                </div>

                            
                            <!--Add Shiping Address Modal  -->
                            <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
                            <div
                                class="modal fade"
                                id="showAllShippingAddress"
                                tabindex="-1"
                                data-bs-backdrop="static"
                                data-bs-keyboard="false"
                                
                                role="dialog"
                                aria-labelledby="modalTitleId"
                                aria-hidden="true"
                            >
                                <div
                                    class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg"
                                    role="document"
                                >

                                <form action="{% url 'check_out' %}" method="post"> {% csrf_token %}

                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalTitleId">
                                                Shiping Addresses
                                            </h5>
                                            <button
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"
                                            ></button>
                                        </div>

                                        <!--SHIPING ADDRESS BODY GOES HERE-->
                                        <div class="modal-body">
                                            <div class="addresses">
                                                
                                                {% if all_shipping_address %}                              
                                                {% for shipping_address in all_shipping_address %}
                                                    <div class="pb-2 pt-2">
                                                        <input type="radio" id="address{{ shipping_address.id }}" name="selected_address_id" value="{{ shipping_address.id }}">
                                                        <label for="address{{ shipping_address.id }}" class="h6">{{ shipping_address }}</label>
                                                    </div>
                                                {% endfor %}
                                                {% endif %}
                                                
                                                
                                            </div>

                                            {% comment %} <div class="checkout-form-list">
                                                {{address_form.as_p}}
                                            </div> {% endcomment %}

                                            <div class="btn bnt-danger">
                                                <!--New Address Button trigger modal -->
                                                <button
                                                type="button"
                                                class="btn btn-primary btn-lg"
                                                data-bs-toggle="modal"
                                                data-bs-target="#modalId"
                                            >
                                                Add New Address
                                            </button>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button
                                                type="button"
                                                class="btn btn-secondary"
                                                data-bs-dismiss="modal"
                                            >
                                                Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                </form>
                                </div>
                            </div>
                            
                            
                            
                            <!--New Address Add Modal -->
                            <div
                                class="modal fade"
                                id="modalId"
                                tabindex="-1"
                                role="dialog"
                                aria-labelledby="modalTitleId"
                                aria-hidden="true"
                            >
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalTitleId">
                                                Modal title
                                            </h5>
                                            <button
                                                type="button"
                                                class="btn-close"
                                                data-bs-dismiss="modal"
                                                aria-label="Close"
                                            ></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                            <div class="checkout-form-list">

                                                <form action="{% url 'save_shipping_address' %}" method="post"> {% csrf_token %}
                                                    {{address_form.as_p}}
                                                    <button type="submit" class="btn btn-info">Save Address</button>
                                                </form>
                                                
                                            </div> 
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button
                                                type="button"
                                                class="btn btn-secondary"
                                                data-bs-dismiss="modal"
                                            >
                                                Close
                                            </button>
                                            <button type="button" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            

     
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="your-order mb-30 ">
                            <h3>Your order</h3>
                            <div class="your-order-table table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-name">Product</th>
                                            <th class="product-total">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {% for item in carts %}
                                            <tr class="cart_item">
                                                <td class="product-name">
                                                    {{item.product.title|truncatewords:6}} <strong class="product-quantity"> × {{item.quantity}}</strong>
                                                </td>
                                                <td class="product-total">
                                                    <span class="amount">${{item.total_product_price | floatformat:2}}</span>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                            

                                    </tbody>
                                    <tfoot>
                                        <tr class="cart-subtotal">
                                            <th>Cart Subtotal</th>
                                            <td><span class="amount">${{sub_total | floatformat:2}}</span></td>
                                        </tr>
                                        <tr class="shipping">
                                            <th>Shipping</th>
                                            <td>
                                                <ul>
                                                    <li>
                                                        <input type="radio" name="shipping">
                                                        <label>
                                                            Flat Rate: <span class="amount">$7.00</span>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input type="radio" name="shipping">
                                                        <label>Free Shipping:</label>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        <tr class="order-total">
                                            <th>Order Total</th>
                                            <td><strong><span class="amount">${{sub_total | floatformat:2}}</span></strong>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                            
                                <div class="order-button-payment mt-20">
                                </div>
                                <p><a class="btn btn-danger" href="{% url 'display_payment_details' %}">make payment</a></p>

                            </div>

                            </div>
                        </div>
                    </div>
                </div>


            <hr>
            <br>
            <div class="container row">
                <div class="col-3">

                </div>
                <div class="col-6 pl-10">
                    
                </div>

                <div class="col-3 border-2">
                    <div class="coupon-info">                       
                        {% if cupon %}
                            <form action="" method='GET'>
                                <p class="checkout-coupon">
                                <input type="hidden"  value='00' id='remove_cupon' name='remove_cupon'>
                                <button class="tp-btn-h1" type="submit">Remove Cupon</button>
                                </p>
                            </form>
                        {% else %}
                            <form action="{% url 'cupon_apply' %}" method='POST'> {% csrf_token %}
                                <p class="checkout-coupon">
                                <input type="text" placeholder="cupon_code" id='cupon_code' name='cupon_code'>
                                <button class="tp-btn-h1" type="submit">Apply Coupon</button>
                                </p>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- checkout-area-end -->

   <!-- Strawberry CTA Section -->
<section class="strawberry-cta">
  <div class="container">
    <div class="row">
      <!-- Social Media Card -->
      <div class="col-lg-4 col-md-6">
        <div class="cta-card berry-social-card">
          <div class="berry-icon">
            <i class="fas fa-users"></i>
          </div>
          <h5>Join Our Berry Patch</h5>
          <p>Connect with our growing community of strawberry lovers</p>
          <div class="berry-social-links">
            <a href="#" class="berry-social-btn insta-berry">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="berry-social-btn fb-berry">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="berry-social-btn tiktok-berry">
              <i class="fab fa-tiktok"></i>
            </a>
            <a href="#" class="berry-social-btn pin-berry">
              <i class="fab fa-pinterest-p"></i>
            </a>
            <a href="#" class="berry-social-btn youtube-berry">
              <i class="fab fa-youtube"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Newsletter Card -->
      <div class="col-lg-4 col-md-6">
        <div class="cta-card berry-newsletter-card">
          <div class="berry-icon">
            <i class="fas fa-envelope"></i>
          </div>
          <h5>Sweet Deals Newsletter</h5>
          <p>Get weekly berry specials + 15% off your first order</p>
          <div class="berry-subscribe-form">
            <form action="#">
              <input type="email" placeholder="your.email@berrygood.com">
              <button type="submit">
                Subscribe
                <i class="fas fa-arrow-right"></i>
              </button>
            </form>
          </div>
        </div>
      </div>

      <!-- App Download Card -->
      <div class="col-lg-4 col-md-6">
        <div class="cta-card berry-app-card">
          <div class="berry-icon">
            <i class="fas fa-mobile-alt"></i>
          </div>
          <h5>Berry Mobile Experience</h5>
          <p>Get our app for exclusive mobile-only offers</p>
          <div>  class="berry-app-badges">
            <a href="#" class="app-badge">
            <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" alt="Download on the App Store">
            </a>
            <a href="#" class="app-badge">
             <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg" alt="Get it on Google Play">

            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  /* Strawberry CTA Section */
  .strawberry-cta {
    background: linear-gradient(135deg, #fff5f5 0%, #fff 100%);
    padding: 60px 0;
    border-top: 1px solid #ffebee;
    border-bottom: 1px solid #ffebee;
  }

  .cta-card {
    background: white;
    border-radius: 16px;
    padding: 30px;
    height: 100%;
    box-shadow: 0 10px 30px rgba(255, 77, 109, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
  }

  .cta-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(255, 77, 109, 0.15);
  }

  .berry-icon {
    width: 60px;
    height: 60px;
    background: linear-gradient(45deg, #ff4d6d, #ff8fa3);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .cta-card h5 {
    font-size: 20px;
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
    position: relative;
  }

  .cta-card h5:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 40px;
    height: 3px;
    background: linear-gradient(90deg, #ff4d6d, #ff8fa3);
    border-radius: 3px;
  }

  .cta-card p {
    color: #666;
    margin-bottom: 25px;
    font-size: 15px;
    line-height: 1.6;
  }

  /* Social Media Card */
  .berry-social-links {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .berry-social-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 16px;
    transition: all 0.3s;
  }

  .insta-berry { background: #E1306C; }
  .fb-berry { background: #3B5998; }
  .tiktok-berry { background: #000; }
  .pin-berry { background: #E60023; }
  .youtube-berry { background: #FF0000; }

  .berry-social-btn:hover {
    transform: scale(1.1) rotate(10deg);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  }

  /* Newsletter Card */
  .berry-subscribe-form {
    position: relative;
  }

  .berry-subscribe-form input {
    width: 100%;
    padding: 14px 20px;
    border: 1px solid #ffccd5;
    border-radius: 30px;
    font-size: 15px;
    transition: all 0.3s;
  }

  .berry-subscribe-form input:focus {
    border-color: #ff4d6d;
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 77, 109, 0.2);
  }

  .berry-subscribe-form button {
    position: absolute;
    right: 5px;
    top: 5px;
    background: linear-gradient(45deg, #ff4d6d, #c9184a);
    color: white;
    border: none;
    padding: 9px 20px;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.3s;
  }

  .berry-subscribe-form button:hover {
    background: linear-gradient(45deg, #c9184a, #ff4d6d);
    transform: translateX(5px);
  }

  /* App Download Card */
  .berry-app-badges {
    display: flex;
    gap: 10px;
  }

  .app-badge {
    display: inline-block;
    height: 45px;
    transition: transform 0.3s;
  }

  .app-badge:hover {
    transform: scale(1.05);
  }

  .app-badge img {
    height: 100%;
    border-radius: 7px;
  }

  /* Responsive Design */
  @media (max-width: 992px) {
    .cta-card {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 768px) {
    .strawberry-cta {
      padding: 40px 0;
    }

    .berry-social-links {
      justify-content: center;
    }

    .berry-app-badges {
      justify-content: center;
    }
  }
</style>
    <!-- cta-area-end -->


{% endblock bodycontent %}
    